{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} Nouvel utilisateur
{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>

    {{ include('admin/user/_form.html.twig') }}

    <a class="btn btn-info" href="{{ path('admin_user_index') }}">Revenir à la liste des utilisateur</a>
{% endblock %}
