{% extends 'base.html.twig' %}

{% block title %}
{{ parent()}} Connexion
{% endblock %}

{% block body %}

<div class = "jumbotron">
<h1>Venez avec moi faire le tour du monde!</h1>
</div>

{% endblock %}