{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} Modification voyage
{% endblock %}

{% block body %}
    <h1>Modifier un voyage</h1>

    {{ include('admin/voyage/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a class="btn btn-info" href="{{ path('admin_voyage_index') }}">Revenir à la liste des voyages</a>

    {{ include('admin/voyage/_delete_form.html.twig') }}
{% endblock %}
