{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} Nouveau voyage
{% endblock %}

{% block body %}
    <h1>Créer un nouveau voyage</h1>

    {{ include('admin/voyage/_form.html.twig') }}

    <a class="btn btn-info" href="{{ path('admin_voyage_index') }}">Revenir à la liste des voyages</a>
{% endblock %}
