{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock title %}


{% block body %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Bali</h5>
            <p class="card-text">
                <small>20 juin 2019</small>
            </p>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">
                <strong>Distance parcourue : </strong>12 230 KM
            </p>

        </div>
        <img src="/img/bali1.jpg" class="card-img-top" alt="Bali">
        <img src="/img/bali2.jpg" class="card-img-top" alt="Bali">
    </div>
{% endblock body %}
